*{
    margin: 0px;
    padding: 0px;
}
.grev{
  width: 100%;
  height: 600px;
  color: black;
  /* background-color:#BA181B; */
  background-color: rgb(129, 17, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .grev h1{
    font-size: 8rem;
    font-family:'Cinzel', serif;
  }
  .crev h3,h4{
    font-family:'Cinzel', serif;
  }
  .gnavul{
    display: flex;
    /* margin: 10px; */
    position: relative;
    bottom: 190px;
    width: 100%;
  justify-content: center;
  }
  .gmainnavbar{
      justify-content: center;
      /* justify-content: space-between; */
      display: flex;
      width: 100%;
  }
  .gnavitem{
    margin: 10px 30px;
    list-style: none;

  }
  .gnavitem a{
      text-decoration:none;
      font-size:1.5rem;
      font-family:'Cinzel', serif;
      color: rgb(202, 183, 161);
      
  }



  .gmaininfo{
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    /* background-color: #BF0603; */
}
.gdonatebutton button {
    border-radius: 55px;
    background-color:rgb(202, 183, 161) ;
    width: 370px;
    height: 80px;
    border: none;
}
.gdonatebutton{
    padding: 30px;
/* background-color: rgb(223, 41, 53); */
}
.gdonatebutton button a{
    text-decoration: none;
    color: black;
    background-color: rgb(202, 183, 161);
    font-size: 1.2rem;
    font-family:'Cinzel', serif;
}
.gsubinfo{
    /* color:rgb(202, 183, 161); */
    color: #212529;
    font-family:'Cinzel', serif;
}



.poster{
  width: 100%;
  height: 100%;
  text-align: center;
  /* opacity: 70%; */
}
.poster img{
  border-radius: 70px;
  margin-bottom: 130px;
  width: 80%;
}


.gquestion{
  display: flex;
  padding: 60px 60px;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  /* background-color: rgb(202, 183, 161); */
}
.gpic img{
  /* background-color: rgb(202, 183, 161); */
  border-radius: 40px;
  opacity: 70%;
}
.gpic{
  /* background-color: rgb(202, 183, 161); */
  margin: 100px;
}
.gque{
  margin: 0px 100px 0px 1px;
  /* display: flex; */
  /* background-color: rgb(202, 183, 161); */
  
}
#gexample{
  /* background-color: rgb(202, 183, 161); */
  font-family:'Cinzel', serif;
}
.gque button{
  border: none;
  background-color: rgb(202, 183, 161);
  color: #212529;
  border-radius: 30px;
  width: 200px;
  height: 40px;
cursor: pointer;
font-family:'Cinzel', serif;
}
/*  Learn More Modal*/
.modal-body{
  color: #212529;
  font-family:'Cinzel', serif;
  backdrop-filter: blur(1px);
}


.Footer{
  display: flex;
  width: 100%;
  /* background-color: rgb(219 160 31); */
  height: 400px;
  justify-content: center;
  align-items: center;
}
.foot{
  margin: 59px 160px;
  font-size: 1.2rem;
  line-height: 50px;
  align-items: center;
  margin: auto;
  font-family:'Cinzel', serif;
  color: rgb(129, 17, 18);

}
.foot h1{
  color: rgb(129, 17, 18);
}
.foot a{
  text-decoration: none;
  color: black;
}
.foot1{
  background-color: rgb(219 160 31);
}
.dcard {
  width: 100%;
  height: 100%;
  /* background-color:rgb(129, 17, 18); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px -20px 27px -27px rgba(0, 0, -1, 1.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
  /* background-color: rgb(44, 44, 44); */
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dfinalfooter{
  align-items: center;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: rgb(231, 47, 47); */
  padding-bottom: 50px;
  font-family:'Cinzel', serif;
  color: rgb(129, 17, 18);
}
#example{
  /* background-color: rgb(202, 183, 161); */
  font-family:'Cinzel', serif;
}
.dque button{
  border: none;
  background-color: rgb(202, 183, 161);
  color: #212529;
  border-radius: 30px;
  width: 200px;
  height: 40px;
cursor: pointer;
font-family:'Cinzel', serif;
}
/*  Learn More Modal*/
.modal-body{
  color: #212529;
  font-family:'Cinzel', serif;
  backdrop-filter: blur(1px);
}